<table style="width:100%">
	<tr><td></td></tr>
	<tr>
		<td>
			<img src="{{ logo_image_url }}" width="90" height="30"/>
		</td>
	</tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td style="font-size:30px;"><strong>Recharge Details</strong></td></tr>
	<tr><td style="font-size:30px;">{{ recharge_date }}</td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td style="width:50%">Mobile Number</td><td style="width:50%">Date</td></tr>
	<tr><td style="width:50%;font-size:15px;"><strong>{{ phone_number }}</strong></td><td style="width:50%;font-size:15px;"><strong>{{ recharge_date }}</strong></td></tr>
	<tr><td></td></tr>
	<tr><td style="width:50%">Transaction By</td><td style="width:50%">TRANSACTION REFRENCE</td></tr>
	<tr><td style="width:50%;font-size:15px;"><strong>Net Banking</strong></td><td style="width:50%;font-size:15px;"><strong>{{ transaction_refrence_number }}</strong></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<hr>
	<tr><td></td></tr>
	<tr><td>Amount Paid</td></tr>
	<tr><td style="font-size:15px;"><strong>Rs. {{ amount }}</strong></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td style="width:3%">1.</td><td style="width:97%">All payments are subject to realization of the same.</td></tr>
	<tr><td style="width:3%">2.</td><td style="width:97%">Customer is liable to pay surcharge leived for delayed payment at such rates as specified by Airtel from time to time.</td></tr>
	<tr><td style="width:3%">3.</td><td style="width:97%">Customer is advised to make payment in full of the due amount along with delayed payment charges, if any.</td></tr>
	<tr><td style="width:3%">4.</td><td style="width:97%">The payment made by the customer vide this receipt shall under no circumstances be deemed for full & final settlement.</td></tr>
	<tr><td style="width:3%">5.</td><td style="width:97%">All claims subject to exclusive jurisdiction of Delhi courts only.</td></tr>
	<tr><td style="width:3%">6.</td><td style="width:97%">This is a system generated document and does not require signature. Any unauthorized use, disclosure, dissemination, or copying of this document is strictly probihited and may be unlawful.</td></tr>
</table>